#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules for fis-gtm

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SRC_EXTRAS_DIR=fis-gtm-src-extras

ARCH := $(shell dpkg-architecture -qDEB_HOST_GNU_CPU)
UVER := $(shell LC_ALL=C dpkg-parsechangelog | awk '/^Version:/{print $$2;}' | sed -e 's,-[^-]*$$,,g')
UVERDIR := V$(UVER)_$(ARCH)
SRCPKG := $(shell dpkg-parsechangelog | sed -n 's/^Source: //p')
BINPKG := $(shell awk '/Package:.*[0-9]/{print $$2;}' debian/control)

%:
	dh $@

override_dh_auto_configure:
	@echo "I: copyring pre-generated bootstrap files to build GT.M"
	cp -a ./$(SRC_EXTRAS_DIR)/* .
	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX:PATH=/usr/lib/fis-gtm/$(UVERDIR)

# At some point in the future, GT.M developers will support DESTDIR
# and then it will look like:
#override_dh_auto_install:
#	./pro/gtminstall --utf8 default --installdir /usr/lib/fis-gtm/VERSION DESTDIR=$(CURDIR)/debian/$(BINPKG)

override_dh_auto_install:
	dh_auto_install --destdir=debian/$(BINPKG) $@

override_dh_link:
	echo '/usr/lib/fis-gtm/$(UVERDIR) /usr/lib/fis-gtm/current' > debian/fis-gtm.links
	dh_link

# Because 'the' binary package name will change, let's just generate
# override files
# The override is needed according to upstream for GTM to generate executable 'call-in's
override_dh_lintian:
	echo "$(BINPKG) binary: shlib-with-executable-stack usr/lib/fis-gtm/*/libgtmshr.so" > debian/$(BINPKG).lintian-overrides
	dh_lintian

get-orig-source:
	uscan --verbose --force-download

override_dh_auto_clean:
	dh_auto_clean
	#for f in ./$(SRC_EXTRAS_DIR)/*; do \
	#		rm -rf $$(basename $$f); done
	rm -f debian/fis-gtm.links

override_dh_installchangelogs:
	dh_installchangelogs debian/upstream-files/GTM_V5.5-000_Release_Notes.html
